{% load static %}
{% load bootstrap4 %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% bootstrap_css %}
</head>
<body>

<header>
  <h1>{% block header %} {% endblock header %} </h1>
    {% include "navbar.html" %}
</header>



{% bootstrap_messages %}

<div class="main-content">
{% block content %}


{% endblock content %} 

{% include "footer.html" %}
</div>

{% bootstrap_javascript %}
</body>
</html>
