{% extends "base.html" %}
{% load custom_filters %}

{% block title %} {{ gym_name }} - Our Schedule {% endblock title %}

{% block header %} Our Schedule {% endblock header %}

{% block content %}
<div style="margin:auto; max-width:800px;">
    
    <form method="get" action="" class="filter-form" id="filter-form">
        <label> <strong> Filter the group classes </strong> </label>
        <label for="day">Day:</label>
        <select name="day" id="day">
            <option value="" {% if request.GET.day == '' %}selected{% endif %}>All</option>
            <option value="Monday" {% if request.GET.day == 'Monday' %}selected{% endif %}>Monday</option>
            <option value="Tuesday" {% if request.GET.day == 'Tuesday' %}selected{% endif %}>Tuesday</option>
            <option value="Wednesday" {% if request.GET.day == 'Wednesday' %}selected{% endif %}>Wednesday</option>
            <option value="Thursday" {% if request.GET.day == 'Thursday' %}selected{% endif %}>Thursday</option>
            <option value="Friday" {% if request.GET.day == 'Friday' %}selected{% endif %}>Friday</option>
            <option value="Saturday" {% if request.GET.day == 'Saturday' %}selected{% endif %}>Saturday</option>
            <option value="Sunday" {% if request.GET.day == 'Sunday' %}selected{% endif %}>Sunday</option>
        </select>
        <label for="hour">Hour:</label>
        <select name="hour" id="hour">
            <option value="">All</option>
            {% for i in 9|custom_range:18 %}
                <option value="{{ i }}" {% if request.GET.hour|default:""|add:"0" == i %}selected{% endif %}>{{ i }}:00</option>
            {% endfor %}
        </select>
        <label for="available">Available:</label>
        <input type="checkbox" name="available" id="available" {% if request.GET.available == 'on' %}checked{% endif %}>
    </form>
    <table border="1" style="margin:auto;" id="schedule-table">
        <tr>
            <th>Day</th>
            <th>Title</th>
            <th>Trainer</th>
            <th>Start Hour</th>
            <th>Duration</th>
            <th>Max Participants</th>
            <th>Remaining Spots</th>
            <th>Status</th>
            {% if not request.user.is_instructor %} <th>Actions</th> {% endif %}
        </tr>
        <script> console.log(" available={{ request.GET.available }}, day={{ request.GET.day }}, hour={{ request.GET.hour}} ") </script>
        <tbody id="courses-body">
        {% for day, hours_data in schedule.items %}
            {% for hour, course in hours_data.items %}
                {% if request.GET.day %}
                    {% if request.GET.day == day %}
                        {% if request.GET.hour %}
                            {% if request.GET.hour|default:""|add:"0" == hour %}
                                {% if request.GET.available == "on" %}
                                    {% if not course.ended and course.max_participants|subtract:course.total_partecipants != 0 %}
                                        {% include "course_row.html" %}
                                    {% endif %}
                                {% else %}
                                    {% include "course_row.html" %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if request.GET.available == "on" %}
                                {% if not course.ended and course.max_participants|subtract:course.total_partecipants != 0 %}
                                    {% include "course_row.html" %}
                                {% endif %}
                            {% else %}  
                                {% include "course_row.html" %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% elif request.GET.hour %}
                    {% if request.GET.hour|default:""|add:"0" == hour %}
                        {% if request.GET.available == "on" %}
                            {% if not course.ended and course.max_participants|subtract:course.total_partecipants != 0 %}
                                {% include "course_row.html" %}
                            {% endif %}
                        {% else %}
                            {% include "course_row.html" %}
                        {% endif %}  
                    {% endif %}
                {% elif request.GET.available == "on" %}
                    {% if not course.ended and course.max_participants|subtract:course.total_partecipants != 0 %}
                        {% include "course_row.html" %}
                    {% endif %}
                {% else %}
                    {% include "course_row.html" %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const daySelect = document.getElementById('day');
    const hourSelect = document.getElementById('hour');
    const availableCheckbox = document.getElementById('available');
    
    function fetchFilteredData() {
        const day = daySelect.value;
        const hour = hourSelect.value;
        const available = availableCheckbox.checked ? 'on' : '';

        fetch(`?day=${day}&hour=${hour}&available=${available}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.text())
        .then(data => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(data, 'text/html');
            const newTableBody = doc.getElementById('courses-body');
            document.getElementById('courses-body').innerHTML = newTableBody.innerHTML;
        });
    }

    daySelect.addEventListener('change', fetchFilteredData);
    hourSelect.addEventListener('change', fetchFilteredData);
    availableCheckbox.addEventListener('change', fetchFilteredData);
});
</script>

{% endblock %}
