{% extends "base.html" %}
{% load custom_filters %}

{% block title %} {{ gym_name }} - Our Schedule {% endblock title %}

{% block header %} Our Schedule {% endblock header %}

{% block content %}
<div style="margin:auto; max-width:800px;">
    <form method="get" action="">
        <label for="day">Select Day:</label>
        <select name="day" id="day">
            <option value="">All</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <label for="hour">Select Hour:</label>
        <select name="hour" id="hour">
            <option value="">All</option>
            {% for i in 9|custom_range:18 %}
                <option value="{{ i }}">{{ i }}:00</option>
            {% endfor %}
        </select>
        <label for="available">Available Only:</label>
        <input type="checkbox" name="available" id="available" {% if request.GET.available == 'on' %}checked{% endif %}>
        <button type="submit">Apply Filters</button>
    </form>
    <table border="1" style="margin:auto;">
        <tr>
            <th>Day</th>
            <th>Title</th>
            <th>Trainer</th>
            <th>Start Hour</th>
            <th>Duration</th>
            <th>Max Participants</th>
            <th>Remaining Spots</th>
            <th>Status</th>
            {% if not request.user.is_instructor %} <th>Actions</th> {% endif %}
        </tr>
        {% for day, hours_data in schedule.items %}
    {% for hour, course in hours_data.items %}
        {% if request.GET.day %}
            {% if request.GET.day == day %}
                {% if request.GET.hour %}
                {% if request.GET.hour|default:""|add:"0" == hour %}
                        {% include "course_row.html" %}
                    {% endif %}
                {% else %}
                    {% include "course_row.html" %}
                {% endif %}
            {% endif %}
        {% elif request.GET.hour %}
        
        {% if request.GET.hour|default:""|add:"0" == hour %}
                {% include "course_row.html" %}
            {% endif %}
        {% else %}
            {% include "course_row.html" %}
        {% endif %}
    {% endfor %}
{% endfor %}


    </table>
</div>
{% endblock %}
