{% extends "base.html" %}
{% block title %} {{ gym_name }} - Edit Discounts {% endblock title %}


{% block header %} Edit Discounts {% endblock %}


{% block content %}
<div style="margin:auto;">
    <h2>Edit Discounts for plan #{{ plan.id }}</h2>
    <form method="post" enctype="multipart/form-data" style="margin:auto; width:400px">
        {% csrf_token %}
        <p>
            <label >1 Month discount:</label>
            <input type="number" step="0.01" name="discount_1" value="{{ discount.1 }}" class="form-control" required>
        </p>
        <p>
            <label >3 Months discount:</label>
            <input type="number" step="0.01" name="discount_3" value="{{ discount.3 }}" class="form-control" required>
        </p>

        
        <p>
            <label >6 Months discount:</label>
            <input type="number" step="0.01" name="discount_6" value="{{ discount.6 }}" class="form-control" required>
        </p>
        
        <p>
            <label >1 Year discount:</label>
            <input type="number" step="0.01" name="discount_12" value="{{ discount.12 }}" class="form-control" required>
        </p>

        <input type="hidden" name="plan_id" value="{{ plan.id }}">
        <button type="submit" class="btn btn-primary">Save Discounts</button>
    </form>
</div>

{% endblock %}