{% extends "base.html" %}
{% load custom_filters %}
{% block title %} {{ gym_name }} - Leave Review {% endblock title %}


{% block header %} Leave Review {% endblock %}


{% block content %}
<div style="margin:auto;">
    <h2> Event informations </h2>
    {% if event.max_participants %}
    <div class="trainer-card">
        {% if event.image %} <img  src="{{ event.image.url }}" alt="Profile Picture" style="max-width: 200px;">{% endif %}
        <div class="trainer-details">
            <p><strong>Title:</strong> {{event.title}}  Group Class with {{ event.trainer.first_name}} {{ event.trainer.last_name}}</p>
            <p><strong>Duration:</strong> {{ event.duration }}</p>
            <p><strong>Total Participants:</strong> {{ event.total_partecipants }}</p>
            <p><strong>Date:</strong> {{ event.date|date:"F j, Y" }}, {{ event.date|time:"g:i A" }}</p>
            </div>
    </div>
    {% else %}
    <div class="trainer-card">
        <div class="trainer-details">
            <p><strong>Title:</strong> {{event.training_type}} Workout with {{ event.trainer.first_name}} {{ event.trainer.last_name}}</p>
            <p><strong>Date:</strong> {{ event.date|date:"F j, Y" }}, {{ event.date|time:"g:i A" }}</p>
        </div>
    </div>
    {% endif %}
    <h2> Write Review </h2>
    {% if form.errors %}
        <div class="form-group" style="display: flex; justify-content: center; margin-top:50px;">
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li class="error" style="text-align: left;">{{field}}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
{% endif %}

    <form method="post" style="margin:auto; width:400px">
        {%csrf_token%}
        <p>
            <label for="id_title">Title:</label>
            <textarea name="title" cols="40" rows="2" id="id_title" required></textarea>
        </p>


        <p>
            <label for="id_stars">Stars:</label>
            <select name="stars" id="id_stars" required >
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
        </select>
        </p>

        

        <p>
            <label for="id_additional_info">Additional info:</label>
            <textarea name="additional_info" cols="40" rows="4" id="id_additional_info"></textarea>
        </p>
        
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <input type="hidden" name="event" value="{{ event.id }}">
        <button type="submit"> Leave Review! </button>
    </form>
</div>

<script>
    {% if error %}
        setTimeout(function() {
          alert("{{ error }}");
        }, 100);
      {% endif %}
    </script>
{% endblock content %}