{% load static %}
<nav>
  <ul>
    <li><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'trainer-list' %}">Our trainers</a></li>
    <li><a href="{% url 'classes-schedule' %}">Gym classes schedule</a></li>
    <li><a href="{% url 'subscription-plans' %}">Subscription plans</a></li>
      
    {% if request.user.is_authenticated %}
    <li>
      <div class="profile-container">
        <button id="profile-button" onclick="toggleUserMenu()" style="border: none; background: none; padding: 0; max-width: 25px; border-radius: 30%;">
          <img src="{% if request.user.userprofile.profile_picture %}{{ request.user.userprofile.profile_picture.url }}{% else %}{% static 'img/default_profile_image.png' %}{% endif %}" alt="Profile Image" style="width: 100%; height: auto; border-radius: 50%;">
      </button>
      
      
      
        <div id="user-menu" class="user-menu" style="display:none;">
          <a href="{% url 'dashboard' %}">Dashboard</a> <br>
          <a href="{% url 'profile' %}">Profile</a> <br>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>


<script>
  document.addEventListener("click", function(event) {
    var userMenu = document.getElementById("user-menu");
    var profileContainer = document.querySelector(".profile-container");
  
    if (!profileContainer.contains(event.target) && !userMenu.contains(event.target)) {
      userMenu.style.display = "none";
    }
  });
  
function toggleUserMenu() {
  var menu = document.getElementById("user-menu");
  if (menu.style.display === "none") {
    menu.style.display = "block";
  } else {
    menu.style.display = "none";
  }
}
</script>
