{% extends "base.html" %}
{% block title %} {{ gym_name }} - Your Personal Profile {% endblock title %}

{% block header %} {{ request.user }}'s profile {% endblock header %}

{% block content %}
<div class="user-profile-container">
    <div class="user-profile">
        <h2> Your Profile Information</h2>
    <table class="user-details">
        <tr>
            <th>First Name:</th>
            <td>{{ user_profile.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ user_profile.last_name }}</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>{{ user_profile.get_gender_display }}</td>
        </tr>
        <tr>
            <th>Date of Birth:</th>
            {% if user_profile.date_of_birth|date:"Y-m-d" == now|date:"Y-m-d" %}
                <td></td>
            {% else %}
                <td>{{ user_profile.date_of_birth|date:"F d, Y" }}</td>
            {% endif %}
        </tr>
        {% if user_profile.height %}
            <tr>
                <th>Height:</th>
                <td>{{ user_profile.height }} cm</td>
            </tr>
        {% endif %}
        {% if user_profile.weight %}
            <tr>
                <th>Weight:</th>
                <td>{{ user_profile.weight }} kg</td>
            </tr>
        {% endif %}
        {% if request.user.is_instructor %}
        <tr>
            <th>Fitness Goals:</th>
            <td>
                <ul>
                    {% for goal in user_fitness_goals %}
                        <li>{{ goal }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    </table>

    <div class="edit-profile" style="display: flex; justify-content: center; margin-top:10px">
        <a class="button" href="{% url 'palestra:update-profile' %}">Edit Profile</a>
    </div>
    
    </div>

    <div class="user-subscription-container">
    {% if not request.user.is_instructor and not request.user.is_manager %}
    {% if user_subscription %}
    <div class="user-subscription">
        <h2> Your Subscription Plan: </h2>
        <table class="user-details">
            <tr>
                <th>Access Type:</th>
                <td>{{ user_subscription.plan_type }}</td>
            </tr>
            <tr>
                <th>Age Discount</th>
                <td>{{ user_subscription.age_reduction }}</td>
            </tr>
            <tr>
                <th>Creation Date:</th>
                <td>{{ user_subscription.start_date }}</td>
            </tr>
            <tr>
                <th>Expiration Date:</th>
                <td>{{ user_subscription.end_date }}</td>
            </tr>
            <tr>
                <th>Monthly Price:</th>
                {% if user_subscription.monthly_price %} 
                    <td>{{ user_subscription.monthly_price }} $</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        </div>   
        </table>
        <div class="buttons">
            <form method="post" style="display:contents;">
                {% csrf_token %}
                <input type="hidden" value="{{ user_subscription.id }}">
                {% if not user_subscription.expired %}
                <button type="submit" style="border-radius: 5px; margin-top: 15px;">Cancel Subscription </button>
                {% else %}
                <button type="submit" style="border-radius: 5px; margin-top: 15px;">Renew Subscription </button>
                {% endif %}
            </form>
        </div>
        
        {% endif %}
    </div>
    {% endif%}
    
</div>

{% endblock %}
