[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-background-tasks = "*"
celery = "*"
six = "*"
"django.utils" = "*"
django-hvad = "*"
django-bootstrap4 = "*"
djangorestframework = "*"
pytz = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
