{% extends "base.html" %}
{% load custom_filters %}

{% block title %} {{ gym_name }} - Our Schedule {% endblock title %}

{% block header %} Our Group Classes {% endblock header %}

{% block content %}

<div style="margin-bottom: 50px; margin-top:100px; display:ruby-text; text-align:center;">
    <form method="get" action="" class="filter-form" id="filter-form">
        <label> <strong> Filter the group classes </strong> </label>
        <label for="day">Day:</label>
        <select name="day" id="day">
            <option value="" {% if request.GET.day == '' %}selected{% endif %}>All</option>
            {% for day_name in available_days %}
                <option value="{{ day_name }}" {% if request.GET.day == day_name %}selected{% endif %}>{{ day_name }}</option>
            {% endfor %}
        </select>
        <label for="hour">Hour:</label>
        <select name="hour" id="hour">
            <option value="">All</option>
            {% for hour in available_hours %}
                <option value="{{ hour }}" {% if request.GET.hour|default:""|add:"0" == i %}selected{% endif %}>{{ hour }}:00</option>
            {% endfor %}
        </select>
        <label for="trainer">Trainer:</label>
        <select name="trainer" id="trainer">
            <option value="" {% if request.GET.trainer == '' %}selected{% endif %}>All</option>
            {% for trainer in available_trainers %}
                <option value="{{ trainer.id }}" {% if request.GET.trainer|default:""|add:"0" == trainer.id %}selected{% endif %}>{{ trainer.first_name }} {{ trainer.last_name }}</option>
            {% endfor %}
        </select>
        <label for="available">Available:</label>
        <input type="checkbox" name="available" id="available" {% if request.GET.available == 'on' %}checked{% endif %}>
        <div class="buttons">
            <button type="button" id="reset-button" onclick="reset_filters()"> Reset filters </button>
        </div>
    </form>

    <div class="schedule-grid" id="courses-body">
        {% for day, hours_data in schedule.items %}
            {% for hour, course in hours_data.items %}
                {% include "course_row.html" %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script>
function reset_filters() {
    // Resetta i valori del form
    document.getElementById('filter-form').reset();

    // Rimuovi i parametri di query e ricarica la pagina
    const url = window.location.href.split('?')[0];
    window.location.href = url;
}

document.addEventListener('DOMContentLoaded', function() {
    const daySelect = document.getElementById('day');
    const hourSelect = document.getElementById('hour');
    const trainerSelect = document.getElementById('trainer');
    const availableCheckbox = document.getElementById('available');
    
    function fetchFilteredData() {
        const day = daySelect.value;
        const hour = hourSelect.value;
        const trainer = trainerSelect.value;
        const available = availableCheckbox.checked ? 'on' : '';

        fetch(`?day=${day}&hour=${hour}&trainer=${trainer}&available=${available}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.text())
        .then(data => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(data, 'text/html');
            const newTableBody = doc.getElementById('courses-body');
            document.getElementById('courses-body').innerHTML = newTableBody.innerHTML;
        });
    }

    daySelect.addEventListener('change', fetchFilteredData);
    hourSelect.addEventListener('change', fetchFilteredData);
    trainerSelect.addEventListener('change', fetchFilteredData);
    availableCheckbox.addEventListener('change', fetchFilteredData);
});
</script>

{% endblock %}
