{% extends "base.html" %}
{% load custom_filters %}
{% block title %} {{ gym_name }} - Your Dashboard {% endblock title %}

{% block header %} {{ request.user }}'s Dashboard {% endblock header %}

{% block content %}

{% if not request.user.is_manager %}
<h2>Your Schedule for this week:</h2>

{% endif %}



<div class="content">
    <div class="popup-content" style="display: none;">

    </div>
    {% if request.user.is_manager %}
    
    <div class="manager-container">
        <h3> all group classes </h3>
        <div class="classes">
        {% for group_class in group_classes %}
            <div class="display-class">
                <p><strong> {{ group_class.title }} </strong> </p>
                <div class="buttons">
                    <a href="{% url 'management:edit-group-training' group_class.id  %}" class="button"> Edit Class </a>
                    <form style="display:contents;" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="class_id" value="{{group_class.id}}">
                        <button type="submit" class="button" style="border-radius: 5px;"> Delete Class </a>
                    </form> 
                </div>              
            </div>
        {% endfor %}
        <a href="{% url 'management:create-group-training' %}" class="button">Create new group training</a>
        </div>
    </div>
    
    <div class="manager-content">
    <div class="plans-container">
        <h2> All Subscription Plans </h2>
    <div class="plans">
        {% for plan in subscription_plans %}
            <div class="plan-dashboard">
                <h3>Plan #{{ forloop.counter }}</h3>
                <table class="user-details-dashboard">
                    <tr>
                        <th>Plan Name</th>
                        <td>{{ plan.name }}</td>
                    </tr>
                    <tr>
                        <th>Full 1 Month Price</th>
                        <td>{{ plan.monthly_price }} $</td>
                    </tr>
                    <tr>
                        <th>Reduced 1 Month Price</th>
                        <td>{{ plan.discounted_price }} $</td>
                    </tr>
                    <tr>
                        <th>Full 3 Month Price</th>
                        <td> {{ plan.full_3 }} $</td>

                    </tr>
                    <tr>
                        <th>Reduced 3 Month Price</th>
                        <td> {{ plan.reduced_3 }} $</td>
                    </tr>
                    <tr>
                        <th>Full 6 Month Price</th>
                        <td>{{ plan.full_6 }} $</td>
                    </tr>
                    <tr>
                        <th>Reduced 6 Month Price</th>
                        <td>{{ plan.reduced_6 }} $</td>
                    </tr>
                    <tr>
                        <th>Full 1 Year Price</th>
                        <td>{{ plan.full_12 }} $</td>
                    </tr>
                    <tr>
                        <th>Reduced 1 Year Price</th>
                        <td>{{ plan.reduced_12 }} $</td>
                    </tr>
                </table>
                <div class="buttons">
                    <a href="{% url 'management:edit-plan' plan.id %}" class="button">Edit Plan</a>
                    <a href="{% url 'management:edit-discounts' plan.id %}" class="button">Edit Discounts </a>
                
                <form style="display:contents;" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="plan_id" value="{{plan.id}}">
                    <button type="submit" style="border-radius: 5px; margin:10px;"> Delete Plan </a>
                </form>
            </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'management:create-plan' %}" class="button">Create new Subscription Plan</a>
</div>
</div>
{% else %}

<table border="1" style="margin:auto;">
    {% for day, daily_schedule in schedule.items %}
        {% for hour, event in daily_schedule.items %}
            {% if event %}
                <tr>
                    <td>{{ day }}</td>
                    <td>{{ hour }}:00</td>
                    <td>
                        {% if event.max_participants %}
                            {{ event.title }} Group Class {% if not request.user.is_instructor %} with {{ event.trainer.first_name }} {{ event.trainer.last_name }} {% endif %}
                            <br>
                            {% if event.expired and not request.user.is_instructor %}
                                <b>This event has ended.</b> {% if not request.user.is_instructor %} {% if not event.review %} <a class="button" href="{% url 'palestra:leave-review' %}?event_type=group_training&amp;event_id={{event.id}}">Leave a Review</a>{% endif %} {% endif %}
                            {% else %}
                                {% if not request.user.is_instructor %}
                                    <form method="post" class="hidden">{% csrf_token %}<input type="hidden" name="group_training" value="{{event.id}}"><button type="submit" style="border-radius: 5px;">Cancel</button></form>        
                                {% else %}
                                    <button class="view_participants" data-event="{{ event.participants }}" onclick="handleButtonClick(event)" style="border-radius: 5px;"> View Participants </button>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ event.training_type }} Workout  with {% if not request.user.is_instructor %} {{ event.trainer.first_name }} {{ event.trainer.last_name }} {% else %} {{ event.user_profile.first_name }} {{ event.user_profile.last_name }}{% endif %}
                            {% if event.expired %}
                                <b>This event has ended.</b> {% if not event.review %}<a class="button" href="{% url 'palestra:leave-review' %}?event_type=personal_training&amp;event_id={{event.id}}">Leave a Review</a> {% endif %}
                            {% else %}
                                {% if not request.user.is_instructor %}
                                    <form method="post" class="hidden">{% csrf_token %}<input type="hidden" name="personal_training" value="{{event.id}}"><button type="submit" style="border-radius: 5px;">Cancel</button></form>
                                {% else %}
                                    <button style="border-radius: 5px;" class="view_profile" data-event="{{ event.user_profile }}" onclick="handleButtonClick(event)"> View Profile</button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>
{% endif %}
<div class="reviews-container">
    {% if request.user.is_instructor %}
    <h3> Reviews about you </h3>
    {% elif request.user.is_manager %}
    <h3> All reviews </h3>
    {% else %}
    <h3> Your reviews </h3>
    {% endif %}

    {% for review in reviews %}
    <div class="reviews-content">
        <p><b>Review #{{ forloop.counter }} - <b>score:</b>{{ review.stars }}:</b> {% if request.user.is_instructor or request.user.is_manager %} written by {{ review.user }}  on {{ review.date }} {% else %} written on {{ review.date }} {% endif %} </p>
        <p><b>Event:</b> {% if review.event.max_participants %} {{ review.event.title }} Group Class {% else %} {{ review.training_type }} Workout {% endif %} {% if not request.user.is_instructor %} with {{ review.event.trainer.first_name }} {{ review.event.trainer.last_name }} {% endif %}</p>
        <p><b>Title:</b> {{ review.title }}</p>
        {% if review.additional_info %} <p><b>Text:</b> {{ review.additional_info }}</p> {% endif %}
        {% if not request.user.is_instructor and not request.user.is_manager %}
        {% if review.event.training_type %}<a class="button" href="{% url 'palestra:edit-review' %}?event_type=personal_training&amp;event_id={{review.event.id}}"> Edit Review </a> <a class="button" href="{% url 'palestra:dashboard' %}?event_type=personal_training&amp;event_id={{review.event.id}}"> Delete Review </a> {% endif %}
        {% if review.event.max_participants %}<a class="button" href="{% url 'palestra:edit-review' %}?event_type=group_training&amp;event_id={{review.event.id}}"> Edit Review </a> <a class="button" href="{% url 'palestra:dashboard' %}?event_type=group_training&amp;event_id={{review.event.id}}"> Delete Review </a> {% endif %}
        {% endif %}
    </div>        
    {% endfor %}
</div>

{% if request.user.is_manager %}
        <div class="fitness-goals-container">
            {% if not fitness_goals %}
            <div class="fitness-goal">
                <p> <strong> Add new Fitness Goal </strong></p>
                    <div class="buttons">
                        <form method="post" style="display:contents">
                            {% csrf_token %}
                            <input type="text" name="new_fitness_goal" placeholder="Type the name here"></input>
                            <button type="submit" style="border-radius: 5px;"> Add </button>
                        </form>
                    </div>
                
            </div>
            {% else %}
            <h2> All Fitness Goals </h2>
            {% endif %}
            
            {% for fitness_goal_id, fitness_goal_name in fitness_goals %}
                <div class="fitness-goal">
                    <p> <strong> {{ fitness_goal_name }} </strong></p>
                        
                        <div class="buttons">
                            <form method="post" style="display:contents">
                                {% csrf_token %}
                                <input type="hidden" name="fitness_goal_delete" value="{{fitness_goal_name}}">
                                <button type="submit" style="border-radius: 5px;"> Delete </button>
                            </form>

                            <form method="post" id="form_{{fitness_goal_id}}" style="display:contents">
                                {% csrf_token %}
                                <input type="text" name="new_name" id="name_{{fitness_goal_id}}" style="display:none;"></input>
                                <input type="hidden" name="fitness_goal_rename" value="{{fitness_goal_name}}">
                                <button type="button" onclick="display_rename_input({{fitness_goal_id}})" style="border-radius: 5px;"> Rename </button>
                            </form>
                        </div>
                    
                </div>

                {% if forloop.last %}
                <div class="fitness-goal">
                    <p> <strong> Add new Fitness Goal </strong></p>
                        <div class="buttons">
                            <form method="post" style="display:contents">
                                {% csrf_token %}
                                <input type="text" name="new_fitness_goal" placeholder="Type the name here"></input>
                                <button type="submit" style="border-radius: 5px;"> Add </button>
                            </form>
                        </div>
                    
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>





<script> 
    function display_rename_input(fitnessGoalId) {
        var inputField = document.getElementById('name_' + fitnessGoalId);
        var form = document.getElementById('form_' + fitnessGoalId);
    
        inputField.style.display = 'block';
        inputField.focus();
    
        inputField.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Previene il comportamento predefinito del "Enter"
                form.submit(); // Invia il modulo
            }
        });
    }

    // Function to handle button clicks and create popups
    function handleButtonClick(event) {
    const btn = event.target;
    const popupContainer = document.querySelector('.popup-content'); // Cerca il contenitore popup-content

    // Svuota il contenitore popup-content
    popupContainer.innerHTML = '';

    const popup = document.createElement('div');
    popup.classList.add('popup'); // Aggiungi una classe per lo stile
    const dataString = btn.dataset.event.replace(/None/g, 'null').replace(/'/g, '"');

    console.log(dataString);
    const data = JSON.parse(dataString);

    // Ottieni i dati in base al tipo di pulsante
    if (btn.classList.contains('view_profile')) {
        popup.innerHTML = createUserProfilePopupContent(data);
    } else if (btn.classList.contains('view_participants')) {
        popup.innerHTML = createEventParticipantsPopupContent(data);
    }

    // Aggiungi un pulsante di chiusura al popup
    const closeBtn = document.createElement('button');
    closeBtn.textContent = 'Close';
    closeBtn.addEventListener('click', () => {
        popupContainer.style.display = 'none'; // Nasconde il contenitore popup-content
        popupContainer.innerHTML = ''; // Svuota il contenitore popup-content
    });
    popup.appendChild(closeBtn);

    // Aggiungi il popup al contenitore popup-content
    popupContainer.appendChild(popup);
    popupContainer.style.display = 'block'; // Mostra il contenitore popup-content
}

// Funzioni per creare il contenuto del popup
function createUserProfilePopupContent(userData) {
    const { id, first_name, last_name, date_of_birth, height, weight, profile_picture } = userData;
    let content = `<h2>User Profile</h2>`;
    content += `<table class="user-details">`;
    content += `<tr><th>ID</th><td>${id}</td></tr>`;
    content += `<tr><th>Name</th><td>${first_name} ${last_name}</td></tr>`;
    content += `<tr><th>Date of Birth</th><td>${date_of_birth}</td></tr>`;
    content += `<tr><th>Height</th><td>${height} cm</td></tr>`;
    content += `<tr><th>Weight</th><td>${weight} kg</td></tr>`;
    if (profile_picture) {
        content += `<tr><th>Profile Picture</th><td><img src="${profile_picture}" style="max-width: 80px; max-height: 80px;" alt="${first_name} ${last_name}'s profile picture"></td></tr>`;
    }
    content += `</table>`;
    return content;
}

function createEventParticipantsPopupContent(participantsData) {
    let content = '<h2>Event Participants</h2>';
    if (participantsData.length === 0) {
        content += '<p>No participants</p>';
    } else {
        participantsData.forEach(participant => {
            content += `<table class="user-details">`;
            content += `<tr><th>Name</th><td>${participant.first_name} ${participant.last_name}</td></tr>`;
            content += `<tr><th>Date of Birth</th><td>${participant.date_of_birth}</td></tr>`;
            content += `<tr><th>Gender</th><td>${participant.gender}</td></tr>`;
            content += `<tr><th>Height</th><td>${participant.height} cm</td></tr>`;
            content += `<tr><th>Weight</th><td>${participant.weight} kg</td></tr>`;
            if (participant.profile_picture) {
                content += `<tr><th>Profile Picture</th><td><img src="${participant.profile_picture}" style="max-width: 80px; max-height: 80px;" alt="${participant.first_name} ${participant.last_name}'s profile picture"></td></tr>`;
            } else {
                content += `<tr><th>Profile Picture</th><td>No profile picture available</td></tr>`;
            }
            content += `</table><br>`; // Adding a line break between tables for better readability
        });
    }
    return content;
}


</script>
{% endblock %}
