.user-menu {
  background-color: #fff; /* Colore di sfondo del menu */
  border: 1px solid #ccc; /* Bordo del menu */
  padding: 10px; /* Spaziatura interna del menu */
  position: absolute; /* Posizionamento assoluto rispetto al contenitore */
  top: 40px; /* Distanza dal bordo superiore del contenitore */
  right: 0; /* Allineamento a destra */
  z-index: 1; /* Z-index per mantenere il menu sopra altri contenuti */
  width: 200px; /* Larghezza del menu */
  height: auto; /* Altezza del menu */
}

.user-details {
  width: 100%;
  margin: 50px auto 0;
  border-collapse: collapse;
}



.user-details th,
.user-details td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.user-details th {
  background-color: #f2f2f2;
}

.subscription-plans {
  display: flex; /* Utilizza il layout flessibile */
  flex-wrap: wrap; /* Avvolgi i piani su una nuova riga quando necessario */
  justify-content: space-around; /* Distribuisci uniformemente i piani lungo il contenitore */
}

.plan {
  width: calc(33.33% - 20px); /* Imposta la larghezza dei piani, sottraendo lo spazio per il margine */
  margin: 10px; /* Aggiunge uno spazio tra i piani */
  text-align: center; /* Centra il testo all'interno di ciascun piano */
  border: 1px solid #ccc; /* Aggiunge un bordo intorno ai piani */
  padding: 10px; /* Aggiunge spazio interno ai piani */
  border-radius: 5px; /* Aggiunge bordi arrotondati */
  display: flex; /* Utilizza il layout flessibile */
  flex-direction: column; /* Imposta la direzione dei figli in colonna */
  justify-content: center; /* Centra verticalmente il contenuto */
  align-items: center; /* Centra orizzontalmente il contenuto */
}


.profile-container {
  position: relative; /* Per consentire il posizionamento assoluto del menu rispetto ad esso */
  display: inline-block; /* Make the profile container inline with other list items */
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.user-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.user-profile {
  margin-bottom: 20px;
  margin-right: 100px;
}


img {
  width: 20px; /* Imposta la larghezza desiderata */
  height: auto; /* Imposta l'altezza automaticamente per mantenere l'aspetto proporzionato */
}
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.purchase-form {
  width: auto; /* Sovrascrivi la larghezza specifica per il form di acquisto */
  padding: 0; /* Rimuovi il padding specifico per il form di acquisto */
  border: none; /* Rimuovi il bordo specifico per il form di acquisto */
  border-radius: 0; /* Rimuovi il bordo arrotondato specifico per il form di acquisto */
  background-color: transparent; /* Rimuovi il colore di sfondo specifico per il form di acquisto */
}

.purchase-form button {
  padding: 10px; /* Aggiungi il padding solo per il pulsante all'interno del form di acquisto */
  background-color: #e9e9e9; /* Cambia il colore di sfondo solo per il pulsante all'interno del form di acquisto */
  color: #fff; /* Cambia il colore del testo solo per il pulsante all'interno del form di acquisto */
  border: none; /* Rimuovi il bordo solo per il pulsante all'interno del form di acquisto */
  border-radius: 5px; /* Aggiungi il bordo arrotondato solo per il pulsante all'interno del form di acquisto */
  cursor: pointer; /* Cambia il cursore solo per il pulsante all'interno del form di acquisto */
}

.purchase-form button:hover {
  background-color: #0056b3; /* Cambia il colore di sfondo del pulsante solo al passaggio del mouse all'interno del form di acquisto */
}

.trainers-container {
  display: flex;
  text-align: left;
}

.trainer-list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.trainer-card {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.trainer-card img {
  display: block;
  margin: 0 auto;
  border-radius: 50%; /* Per rendere l'immagine rotonda */
  max-width: 100%; /* Per far sì che l'immagine non superi la larghezza massima della sua area genitore */
  height: auto; /* Per mantenere l'aspetto corretto dell'immagine */
}


form {
  width: 1000px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 250px; /* Imposta la larghezza desiderata */
}

@media (min-width: 768px) {
  .form-group {
      flex-direction: row;
      align-items: center;
  }

  .form-group label {
      font-weight: bold;
      margin-right: 10px;
      flex: 1;
      margin-left: 10px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
      width: auto;
      flex: 2;
  }
}

header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}



.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0; /* Se vuoi che il footer sia allineato a sinistra */
  width: 100%; /* Se vuoi che il footer si estenda per tutta la larghezza */
  background-color: #333; /* Colore di sfondo del footer */
  color: #fff; /* Colore del testo del footer */
  padding: 20px 0;
  text-align: center; /* Allinea il testo al centro nel footer */
}
  

label,
input,
button {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  width: 100px;
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  color: #000000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #e9e9e9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  text-align: center;
}

.login-form {
  text-align: center;
  margin-top: 100px;
}

.login-form form {
  width: 300px;
  margin: 0 auto; /* Imposta il margine laterale a "auto" per centrare il form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form label,
.login-form input,
.login-form button {
  display: block;
  margin: 0 auto; /* Centra gli elementi nel form */
}

.login-form button {
  margin-top: 20px; /* Aggiunge spazio sopra il pulsante */
}

.login-form p {
  margin-top: 20px;
}

