.user-menu {
  background-color: #fff; /* Colore di sfondo del menu */
  border: 1px solid #ccc; /* Bordo del menu */
  padding: 10px; /* Spaziatura interna del menu */
  position: absolute; /* Posizionamento assoluto rispetto al contenitore */
  top: 40px; /* Distanza dal bordo superiore del contenitore */
  right: 0; /* Allineamento a destra */
  z-index: 1; /* Z-index per mantenere il menu sopra altri contenuti */
  width: 200px; /* Larghezza del menu */
  height: auto; /* Altezza del menu */
}

.user-details {
  width: 50%;
  margin: 50px auto 0; /* Sposta la tabella più in alto */
  border-collapse: collapse;
}



.user-details th,
.user-details td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.user-details th {
  background-color: #f2f2f2;
}

.subscription-plans {
  display: flex; /* Utilizza il layout flessibile */
  flex-wrap: wrap; /* Avvolgi i piani su una nuova riga quando necessario */
  justify-content: space-around; /* Distribuisci uniformemente i piani lungo il contenitore */
}

.plan {
  width: calc(33.33% - 20px); /* Imposta la larghezza dei piani, sottraendo lo spazio per il margine */
  margin: 10px; /* Aggiunge uno spazio tra i piani */
  text-align: center; /* Centra il testo all'interno di ciascun piano */
  border: 1px solid #ccc; /* Aggiunge un bordo intorno ai piani */
  padding: 10px; /* Aggiunge spazio interno ai piani */
  border-radius: 5px; /* Aggiunge bordi arrotondati */
  display: flex; /* Utilizza il layout flessibile */
  flex-direction: column; /* Imposta la direzione dei figli in colonna */
  justify-content: center; /* Centra verticalmente il contenuto */
  align-items: center; /* Centra orizzontalmente il contenuto */
}


.profile-container {
  position: relative; /* Per consentire il posizionamento assoluto del menu rispetto ad esso */
  display: inline-block; /* Make the profile container inline with other list items */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


img {
  width: 20px; /* Imposta la larghezza desiderata */
  height: auto; /* Imposta l'altezza automaticamente per mantenere l'aspetto proporzionato */
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.purchase-form {
  width: auto; /* Sovrascrivi la larghezza specifica per il form di acquisto */
  padding: 0; /* Rimuovi il padding specifico per il form di acquisto */
  border: none; /* Rimuovi il bordo specifico per il form di acquisto */
  border-radius: 0; /* Rimuovi il bordo arrotondato specifico per il form di acquisto */
  background-color: transparent; /* Rimuovi il colore di sfondo specifico per il form di acquisto */
}

.purchase-form button {
  padding: 10px; /* Aggiungi il padding solo per il pulsante all'interno del form di acquisto */
  background-color: #e9e9e9; /* Cambia il colore di sfondo solo per il pulsante all'interno del form di acquisto */
  color: #fff; /* Cambia il colore del testo solo per il pulsante all'interno del form di acquisto */
  border: none; /* Rimuovi il bordo solo per il pulsante all'interno del form di acquisto */
  border-radius: 5px; /* Aggiungi il bordo arrotondato solo per il pulsante all'interno del form di acquisto */
  cursor: pointer; /* Cambia il cursore solo per il pulsante all'interno del form di acquisto */
}

.purchase-form button:hover {
  background-color: #0056b3; /* Cambia il colore di sfondo del pulsante solo al passaggio del mouse all'interno del form di acquisto */
}

form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

label,
input,
button {
  display: block;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  width: 100px;
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  color: #000000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #e9e9e9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  text-align: center;
}

.login-form {
  text-align: center;
  margin-top: 100px;
}

.login-form form {
  width: 300px;
  margin: 0 auto; /* Imposta il margine laterale a "auto" per centrare il form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form label,
.login-form input,
.login-form button {
  display: block;
  margin: 0 auto; /* Centra gli elementi nel form */
}

.login-form button {
  margin-top: 20px; /* Aggiunge spazio sopra il pulsante */
}

.login-form p {
  margin-top: 20px;
}

